<h2>Projects</h2>

<% $.each(repositories, function(index, repository) { %>
  <h3><a class="name" title="<%= repository.name %>" href="<%= repository.url %>"><%= repository.name %></a></h3>
  <p><%= repository.description %></p>
<% }); %>