        </div>
        <footer>
            <div id="bottom">
                <div class="container">
                    <ul id="social-icons">
                        <li><a href="/principles.pdf"><i class="fa fa-file"></i></a></li>
                        <li><a href="mailto:robert@sosin.ski"><i class="fa fa-envelope"></i></a></li>
                        <li><a href="/pub.asc"><i class="fa fa-lock"></i></a></li>
                        <li><a href="https://github.com/robertsosinski"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://linkedin.com/in/robertsosinski"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://x.com/robertsosinski"><i class="fa fa-times"></i></a></li>
                        <li><a href="https://blog.reactive.io"><i class="fa fa-rss"></i></a></li>
                    </ul>
                    <div id="copyright">&copy; Copyright {{ site.time | date: '%Y' }} Robert Sosinski.  All Rights Reserved</div>
                    <!-- <a id="home-circle" href="/"><i class="fa fa-home"></i></a> -->
                </div>
            </div>
       </footer>
       <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
       <script type="text/javascript" src="/js/custom.js"></script>

        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-49251855-2', 'auto');
        ga('send', 'pageview');
        </script>
    </body>
</html>
