        </div>
        <footer>
            <!--
            <div id="footer-quote">
                <div class="container">
                    <div class="contents">
                        <div class="quote-icon">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <span class="quote-name">Walt Disney</span>
                        <div class="quote-text">
                            You can design and create, and build the most wonderful place in the world. But it takes <span class="colored-text">people</span> to make the dream a reality.
                        </div>
                    </div>
                </div>
            </div>
            -->
            <div id="bottom">
                <div class="container">
                    <ul id="social-icons">
                        <li><a href="https://twitter.com/robertsosinski"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://linkedin.com/in/robertsosinski"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://github.com/robertsosinski"><i class="fa fa-github"></i></a></li>
                        <li><a href="http://www.reactive.io/tips"><i class="fa fa-rss"></i></a></li>
                    </ul>
                    <div id="copyright">© Copyright 2014 Robert Sosinski.  All Rights Reserved</div>
                    <!-- <a id="home-circle" href="/"><i class="fa fa-home"></i></a> -->
                </div>
            </div>
       </footer>
       <script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>
       <script type="text/javascript" src="/js/custom.js"></script>
    </body>
</html>