<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/base.css">

    </head>
    <body>
       <header>
            <div id="logo">
                <img src="/img/bnw-robertsosinski.png" alt="">
            </div>
            <div id="site-heading">
                <h2 class="title">Robert Sosinski</h2>
                <h3 class="subtitle">Digital Innovation, Cloud Transformation, AI/ML</h3>
            </div>
            <div id="contact-wrapper">
                <div id="contact-content">
                    <i class="fa fa-envelope-o contact-icon"></i>
                    <ul id="contact-list">
                        <li><a href=""></a></li>
                    </ul>
                </div>
                <a href="#" id="contact-close"><i class="fa fa-times"></i></a>
            </div>
       </header>
       <div id="main-contents">
